
<div class="ticket">
  <header>
    <h1><%= @project.name %></h1>
  </header>

  <header>
    <h2><%= @ticket.name %></h2>

    <ul class="actions">
      <li><%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "edit" %></li>
      <li><%= link_to "Delete Ticket", [@project, @ticket], method: :delete,
        data: { confirm: "Are you sure you want to delete this ticket?"},
        class: "delete" %></li>
    </ul>
  </header>

  <dl class="attributes">
    <dt>Author:</dt>
    <dd><%= @ticket.author.email %></dd>

    <dt>Created:</dt>
    <dd><%= time_ago_in_words(@ticket.created_at) %> ago</dd>

    <% if @ticket.state.present? %>
      <dt>State:</dt>
      <dd><%= render @ticket.state %></dd>
    <% end %>

    <% if @ticket.tags.any? %>
      <dt>Tags:</dt>
      <dd class="tags"><%= render @ticket.tags, ticket: @ticket %></dd>
    <% end %>

    <dt>Watchers:</dt>
    <dd class="watchers">
      <%= toggle_watching_button(@ticket) %><br />
      <%= @ticket.watchers.map(&:email).to_sentence %>
    </dd>
  </tr>
  </dl>

  <hr>

  <%= simple_format(@ticket.description) %>

  <div class="comments">
    <header>
      <h3>Comments</h3>
    </header>

    <% comments = @ticket.comments.persisted.ordered %>
    <% if comments.any? %>
      <% state = nil %>
      <% comments.each do |comment| %>
        <%= render comment %>
        <% if comment.state != state %>
          <%= render "state_change", previous_state: state, new_state: comment.state %>
          <% state = comment.state %>
        <% end %>
      <% end %>

    <% else %>
      <p>There are no comments for this ticket.</p>
    <% end %>

    <%= render "comments/form", ticket: @ticket, comment: @comment %>
  </div>

</div>
